<link rel='stylesheet' href='/stylesheets/games.css' />
<%- include('../partials/header') %>
    <main>
        <section class="game-container">
            <% games.forEach(function(g) { %>
                <article>
                    <img class="image" src="<%= g.image %>" alt="">
                    <h3><%= g.gameTitle %></h3>
                    <div>
                        <a class="info" href="/games/<%= g._id %>">Game Info</a>
                        <a class="edit" href="/games/<%= g._id %>/edit ">Edit Game</a>
                        <% if (user && user._id.equals(g.user)) {%> 
                        <form action="/games/<%= g._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger btn-sm" type="submit">X</button>
                        </form>
                        <% } %> 
                    </div>
                </article>
                <% }); %>
            </section>
        <a class="add-game" href="/games/new">Add Game</a>
    </main>
    <%- include('../partials/footer') %>