<link rel='stylesheet' href='/stylesheets/games.css' />
<%- include('../partials/header') %>
    <main>
        <h1>All Games</h1>
        <section class="game-container">
            <% games.forEach(function(g) { %>
                <article>
                    <img class="image" src="<%= g.image %>" alt="">
                    <h3><%= g.gameTitle %></h3>
                    <div>
                    <a class="info" href="/games/<%= g._id %>">Game Info</a>
                    <a class="edit" href="/games/<%= g._id %>/edit ">Edit Game</a>
                    <form action="/games/<%= g._id %>?_method=DELETE" method="POST">
                        <button type="submit">X</button>
                    </form>
                    </div>
                </article>
                <% }); %>
            </section>
        <a href="/games/new">Add Game</a>
    </main>

    <%- include('../partials/footer') %>