<link rel='stylesheet' href='/stylesheets/style.css' />
<%- include('../partials/header') %>
<section>
    <h1>All Games</h1>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Company</th>
                <th>ESRB</th>
                <th>Release Year</th>
                <th>Platforms</th>
                <th>CrossPlatform</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            <% games.forEach(function(g) { %>
            <tr>
                <td>
                    <img src="<%= g.image %>" alt="">
                    
                </td>
                <td>
                    <%= g.gameTitle %>
                </td>
                <td>
                    <%= g.maker %>
                </td>
                <td>
                    <%= g.esrb %>
                </td>
                <td>
                    <%= g.releaseYear %>
                </td>
                <td>
                    <%= g.platforms %>
                </td>
                <td>
                    <%= g.crossPlatform %>
                </td>
                <td>
                    <%= g.genre %>
                </td>
            </tr>
            <% }); %> 
        </tbody>
    </table>
</section>
<a href="/games/new">Add Game</a>
<%- include('../partials/footer') %>