<link rel='stylesheet' href='/stylesheets/style-game-info.css' />
<%- include('../partials/header') %>
<section>
    <h1><%= game.gameTitle %></h1>
    <table>
        <thead>
            <tr>
                <th>Company</th>
                <th>ESRB</th>
                <th>Release Year</th>
                <th>Platforms</th>
                <th>CrossPlatform</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <img src="<%= game.image %>" alt="">
                <td>
                    <%= game.maker %>
                </td>
                <td>
                    <%= game.esrb %>
                </td>
                <td>
                    <%= game.releaseYear %>
                </td>
                <td>
                    <%= game.platforms %>
                </td>
                <td>
                    <%= game.crossPlatform %>
                </td>
                <td>
                    <%= game.genre %>
                </td>
            </tr>
        </tbody>
    </table>
</section>
<!-- <a href="games/index">All Games</a> -->
<%- include('../partials/footer') %>