<link rel='stylesheet' href='/stylesheets/info.css' />
<%- include('../partials/header') %>
  <section class="container">
    <div class="info-wrapper">
      <div class="info-head">
        <img src="<%= game.image %>" alt="">
        <h1 class="game-title"><%= game.gameTitle %></h1>
      </div>
      <div class="info-body">
        <div class="game-details">
          <h3>Company:</h3>
          <span><%= game.maker %></span>
        </div>
        <div class="game-details">
          <h3>ESRB:</h3>
          <span><%= game.esrb %></span>
        </div>
        <div class="game-details">
          <h3>Release Year:</h3>
          <span><%= game.releaseYear %></span>
        </div>
        <div class="game-details">
          <h3>Platforms:</h3>
          <span><%= game.platforms %></span>
        </div>
        <div class="game-details">
          <h3>CrossPlatform:</h3>
          <span><%= game.crossPlatform %></span>
        </div>
        <div class="game-details">
          <h3>Genre:</h3>
          <span><%= game.genre %></span>
        </div>
      </div>
    </div>
  </section>
  <br><br>
  <h1 class="review-head">Reviews</h1>
  <% if (user) { %>
    <section class="review-container">
      <div class="form-container">
        <form id="add-review-form" method="POST" action="/games/<%= game._id %>/reviews">
          <span><textarea name="message" placeholder="Add A Review Here..."></textarea></span>
          <div class="ratings">
            <label>Rating:</label>
            <select name="rating">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5" selected>5</option>
            </select>
          </div>
          <button id="submit-button" class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
      <div class="spacer"></div>
      <% } %>
      <div class="review-body-container">
        <% if (game.reviews.length) { %>
          <% let total=0 %>
          <% game.reviews.forEach(function(r) { %>
            <% total +=r.rating %>
              <div><img class="avatar" alt="avatar" src="<%= r.userAvatar %>">  <%= r.userName %></div>
              <div class="review-subheader">
                <span>Rating: <%= r.rating %></span>
                <span class="review-date"><%= r.createdAt.toLocaleDateString() %></span>
              </div>
              <div class="user-text-container">
                <div class="user-text"><%= r.message %></div>
                  <% if (user && user._id.equals(r.user)) { %>
                    <form id="delete-button" action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                      <button class="btn btn-danger btn-sm" type="submit">X</button>
                    </form>
                  <% } %>
              </div>
              <% }); %>
                <div>
                  <span colspan="3"></span>
                  <span><strong>
                    Rated:  <%= (total / game.reviews.length).toFixed(1) %>
                    </strong></span>
                </div>
                <% } else { %>
                  <h5>No Reviews Yet</h5>
                  <% } %>
      </div>
    </section>
    <!-- <a href="games/index">All Games</a> -->
    <%- include('../partials/footer') %>