<link rel='stylesheet' href='/stylesheets/games.css' />
<%- include('../partials/header') %>
    <main>
        <h1>Companies</h1>
        <section class="game-container">
            <% companies.forEach(function(c) { %>
                <article>
                    <img class="image" src="<%= c.image %>" alt="">
                    <h3>
                        <%= c.title %>
                    </h3>
                    <div>
                        <a href="/companies/<%= c._id %>">Company Info</a>
                        <form action="/companies/<%= c._id %>?_method=DELETE" method="POST">
                            <button type="submit">X</button>
                        </form>
                    </div>
                </article>
                <% }); %>
        </section>
        <a href="companies/new">Add Company</a>
    </main>
<%- include('../partials/footer') %>
