<link rel='stylesheet' href='/stylesheets/info.css' />
<%- include('../partials/header') %>
  <section class="container">
    <div class="info-wrapper">
      <div class="preview">
        <h1><%= company.title %></h1>
        <img src="<%= company.image %>" alt="">
      </div>
      <div class="company-founded">
        <h3>Founded</h3> 
        <span> <%= company.founded %></span>
      </div>          
    </div>
  </section>
  <br><br><h2>Games</h2>
  <% if (user) { %>
    <section class="review-container">
      <div class="review-wrapper">
        <form id="add-review-form" method="POST"action="/companies/<%= company._id %>/products">
          <div class="reviews-box">
            <label>Add Game:</label>
            <textarea name="message"></textarea>
          </div>
          <button type="submit">Add</button>
        </form>
      <div class="reviews-wrapper2">
      <% } %> 
        <% if (company.products.length) { %>
          <% let total = 0 %>
          <% company.products.forEach(function(r) { %>
            <td class="game-added"><%= r.message %></td>
              <% if (user && user._id.equals(r.user)) { %> 
                <form action="/products/<%= r._id %>?_method=DELETE" method="POST">
                  <button class="delete-game" type="submit">X</button>
                </form>
              <% } %> 
          <% }); %>
        <% } else { %>
            <h5>No games Yet</h5>
        <% } %>
        </div>
      </div>
    </section> 
    <%- include('../partials/footer') %>